.hero {
    background-image: url("../img/header.jpg");
    background-size: cover;
    height: 30vh;
}

.page-title {
    height: 6vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-form {
    width: 50vw;
    height: 55vh;
    margin: 10vh 10vw 0 10vw;
    background-color: #A19695;
}

.message input {
    height: 15vh;
}

.presentation {
    background-color: #B0ADB5;
    width: 20vw;
    height: 60vh;
    margin-top: -5vh;
}

.photo {
    height: 15vh;

}

.socials {
    height: 5vh;;
}

.bouton {
    background-color: #394A58;
    width: 10vw;
}

.footer {
    height:10vh;
    background-color: #394A58;
}

.font-size1 {
    font-size: 1.4vw;
}

.font-size2 {
    font-size: 1.5vw;
}

.rounded-corners {
    border-radius: .6vw;
}