.hero-legal {
    height:40vh;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 81%);
}

.hero-legal::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("../img/header-legal.jpg");
    background-size: cover;
    z-index: -1; 
}