@use 'variables.scss';
@use 'post.scss';

.hero {
    background-image: url("../img/header.jpg");
    background-size: cover;
    height: 30vh;

    .page-title {
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar {
        height: 30%;
    }
}

.contact-form {
    width: 55%;
    height: 90%;
    margin: 2% 10% 0% 10%;
    background-color: variables.$color1;
    padding: 1% 2% 1% 2%;

    form {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

    }

    .contact-form-name {
        height: 20%;
    }

    .contact-form-email {
        height: 20%;
    }

    .contact-form-message {
        height: 45%;
    }

    .contact-form-button {
        height: 10%;
    }

    button {
        width: 20%;
    }
}

.connexion-form {
    background-color: variables.$color2;
}

.message input {
    height: 15vh;
}

.presentation {
    background-color: variables.$color2;
    width: 20%;
    height: 100%;
    margin-top: -3%;

    .photo {
        height: 30%;
    }

    p {
        height:15%;
    }

    .socials {
        height: 10%;
        width: 100%;
    }
}


footer {
    height:10vh;
    background-color: variables.$color3;

    p {
        margin: 0;
    }
}

.button {
    background-color: variables.$color3;
    transition: background-color .5s;
    border-radius: 10px;

    &:hover {
        background-color : variables.$colorButtonLight;
    }
}

.font-size1 {
    font-size: 1.4vw;
}

.font-size2 {
    font-size: 1.5vw;
}

.font-size3 {
    font-size: 1.2vw;
}

.font-size4 {
    font-size: 0.9vw;
}

.rounded-corners {
    border-radius: .6vw;
}

.body-container {
    height: 60vh;
}

.vh-60{
    height: 60vh;
}

.w-15{
    width: 15%;
}

.w-80{
    width: 80%;
}

.img-post {
    width: 100%;
    background-size: cover;
}
//Media Queries

@media screen and (max-width: 1440px){

}