{% extends 'Layout/Layout.html.twig' %}

{% block title %}
<div class="hero-subscription">
    <p class="page-title fs-4 text text-body text-center">
        Une erreur c'est produite...
    </p>
</div>

{% endblock %}

{% block body %}
    <section class="page-content d-flex justify-content-center vh-35 mt-3">
        <div class="d-flex flex-column align-items-center">
            <div class="text-danger mb-3">{{ warningMessage }}</div>
            <a href="{{ warningLink }}">{{ warningLinkMessage }}</a>
        </div>
    </section>
{% endblock %}