{% extends 'Layout/LayoutComment.html.twig' %}

{% block title %}
<div class="hero-comments">
    <p class="page-title fs-4 text text-reset text-center">
        Nouveau commentaire
    </p>
</div>
{% endblock %}

{% block commentFormAction %}
    "index.php?action=Comment\CommentSave"
{% endblock %}