{% extends 'Layout/layout.html.twig' %}

{% block title %}
<div class="hero-legal">
    <p class="page-title fs-5 text text-light text-center">
        Mentions légales
    </p>
</div>
{% endblock %}

{% block body %}
<div class="m-5 p-3 shadow">
    <section>
        <h2 class="fs-5 fw-bold pb-2">1 - Informations générales</h2>
        <p class="fs-6">Nom du site : Blog</p>
        <p class="fs-6">Propriétaire : Christophe Martel</p>
        <p class="fs-6">Adresse : 96 route de la Poyat - 73200 Mercury</p>
        <p class="fs-6">Email : contact@devcm.com</p>
    </section>
    
    <section>
        <h2 class="fs-5 fw-bold pb-2">2 - Hébergeur du site</h2>
        <p class="fs-6">Nom de l'hébergeur : Hostinger International Ltd.</p>
        <p class="fs-6">Adresse : 61 Lordou Vironos Street - Larnaca 6023 - Chypre</p>
    </section>
    
    <section>
        <h2 class="fs-5 fw-bold pb-2">3 - Propriété intellectuelle</h2>
        <p class="fs-6">L'ensemble des éléments figurant sur notre site sont protégés par les dispositions du Code de la Propriété Intellectuelle. En conséquence, toute reproduction de ceux-ci, totale ou partielle, ou imitation, sans notre accord exprès, préalable et écrit, est interdite.</p>
    </section>
    
    <section>
        <h2 class="fs-5 fw-bold pb-2">4 - Collecte de données personnelles</h2>
        <p class="fs-6">Le site collecte des données personnelles via le formulaire de création de compte utilisateur. Ces données sont utilisées uniquement à des fins fonctionnelles et ne sont en aucun cas cédées à des tiers.</p>
    </section>
    
    <section>
        <h2 class="fs-5 fw-bold pb-2">5 - Cookies</h2>
        <p class="fs-6">Le site n'utilise pas de cookies.</p>
    </section>
    
    <section>
        <h2 class="fs-5 fw-bold pb-2">6 - Responsabilité</h2>
        <p class="fs-6">Nous nous efforçons de fournir des informations exactes et à jour sur notre site, mais nous ne pouvons garantir que cela soit toujours le cas. Nous déclinons toute responsabilité pour toute perte ou dommage résultant de l'utilisation de notre site.</p>
    </section>
</div>

{% endblock %}
