{% extends 'Layout/layout.html.twig' %}

{% block body %}
    <section>
        <div class="body-container d-flex justify-content-center align-items-center">
            <form method="post" action="" class="connexion-form container-fluid d-flex flex-column w-25 rounded-corners p-3" novalidate>
                <div class="d-flex flex-column pb-2">
                    <label for="login" class="form-label text-light">Identifiant :</label>
                    <input type="text" class="form-control" id = "login" name="login" required value="{{ loginValue }}">
                    <div id="warningSurname" class="text-danger">{{ warningLogin }}</div>
                </div>
                <div class="d-flex flex-column pb-2">
                    <label for="password" class="form-label text-light">Mot de passe :</label>
                    <input type="password" class="form-control" id = "password" name="password" required>
                    <div id="warningSurname" class="text-danger">{{ warningPassword }}</div>
                </div>
                <div class="d-flex justify-content-between">
                    <a href="index.php?action=Password\passwordRenewal" class="fst-italic">Mot de passe oublié ?</a>
                    <button class="button text-light" id="">Valider</button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}