{% extends 'Layout/layout.html.twig' %}

{% block body %}
    <section>
        <div class="body-container d-flex justify-content-center align-items-center">          
            <p class="fs-2">Connexion réussie !</p>
        </div>
    </section>
{% endblock %}