{% extends 'Layout/LayoutComment.html.twig' %}

{% block title %}
<div class="hero-comments">
    <p class="page-title fs-4 text text-reset text-center">
        Commentaire
    </p>
</div>
{% endblock %}

{% block commentReturn %}
    <div class="row">
        <div class="col-lg-3 col-sm-1"></div>
        <div class="col-lg-6 col-sm-11 mt-2 me-2 fs-6 d-flex justify-content-end">
            <a href="index.php?action=Admin\Comment\AdminCommentList&pageNumber=1">Retour</a>
        </div>
        <div class="col-lg-3 col-sm-1"></div>
    </div>
{% endblock %}

{% block commentFormAction %}
    "index.php?action=Admin\Comment\AdminCommentSave"
{% endblock %}

{% block commentValidation %}
    <div class="mt-3">
        <label class="form-check-label fs-6" for="validation">Validé</label>
        <input type="checkbox" class="form-check-input" name="validation" id="validation" value="true"
            {% if comment.getPublicationDate() != null %}
                checked
            {% endif %}
        >
    </div>
{% endblock %}

{% block js %}
    <script src="Js/Classes/Disconnexion.js"></script>
    <script>
        disconnexion = new Disconnexion();
    </script>
{% endblock %}