{% extends 'Layout/Layout.html.twig' %}

{% block body %}
    <section>
        <div class="body-container d-flex flex-column justify-content-center align-items-center">
            <div class="text-success">Votre mot de passe a bien été modifié</div>
            <a href="index.php?action=Connexion\Connexion">Se connecter</a>
        </div>
    </section>
{% endblock %}