{% extends 'Layout/layout.html.twig' %}

{% block body %}
    <section>
        <div class="body-container d-flex justify-content-center align-items-center">
            <form method="post" action="" class="connexion-form container-fluid d-flex flex-column w-25 rounded-corners p-3" novalidate>
                <div class="d-flex flex-column pb-2">
                    <label for="password" class="form-label text-light">Mot de passe :</label>
                    <div class="d-flex flex-row">
                        <input type="password" class="form-control" id = "password" name="password" value="{{ warningPassword.fieldContent }}" required>
                        <i class="far fa-eye position-relative align-self-center" id="togglePassword" onclick="showPassword('password')" style="margin-left: -30px; cursor: pointer;"></i>
                    </div>
                    <div id="warningPassword" class="text-danger">{{ warningMessage }}</div>
                </div>
                <div class="d-flex flex-column pb-2">
                    <label for="passwordConfirmation" class="form-label text-light">Confirmation du mot de passe :</label>
                    <div class="d-flex flex-row">
                        <input type="password" class="form-control" id = "passwordConfirmation" name="passwordConfirmation" required>
                        <i class="far fa-eye position-relative align-self-center" id="togglePassword" onclick="showPassword('passwordConfirmation')" style="margin-left: -30px; cursor: pointer;"></i> 
                    </div> 
                </div>
                <button type="submit" class="text-light" id="btnValider">Valider</button>
                <div class="text-danger">{{ errorMessage }}</div>
            </form>
        </div>
    </section>
{% endblock %}