<!DOCTYPE html>
<html lang="fr">
    <head>
    <title>Christophe's Blog</title>
    <link rel="icon" type="image/x-icon" href="img/app_icon.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <header>
            <div class="hero">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end me-5" id="navbarNav">
                        <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active text-light font-size1" aria-current="page" href="#">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light font-size1" href="#">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light font-size1" href="#">Connexion</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light font-size1">Inscription</a>
                        </li>
                        </ul>
                    </div>
                    </div>
                </nav>
                <p class="page-title font-size2 text-light text-center">{{ title }}</p>
            </div>
        </header>
        <section>
            <div class="container-fluid d-flex align-items-center body-container">
                <div class="contact-form rounded-corners shadow f-flex justify-content-center" id="containerContactForm">
                    <form method="post" action="index.php?action=home" class="formulaire" id="contactForm" novalidate>
                        <div class="d-flex mb-4 contact-form-name">
                            <div class="me-5 w-50">
                                <label for="surname" class="form-label text-light font-size3 h-50">Nom</label>
                                <input type="text" class="form-control h-50" id="surname" name="surname" required>
                                <div class="avertissement font-size3" id="alertSurname">
                                    Veuillez entrer votre nom.
                                </div>
                            </div>
                            <div class="w-50">
                                <label for="name" class="form-label text-light font-size3 h-50">Prénom</label>
                                <input type="text" class="form-control h-50" id="name" name="name" required>
                                <div class="avertissement font-size3" id="alertName">
                                    Veuillez entrer votre prénom.
                                </div>
                            </div>
                        </div>
                        <div class="mb-4 contact-form-email">
                            <label for="email" class="form-label text-light font-size3 h-50">Adresse Email</label>
                            <div class="input-group h-50">
                                <span class="input-group-text" id="inputGroupPrepend">@</span>
                                <input type="email" class="form-control" id="email" name="email" aria-describedby="inputGroupPrepend" required>
                            </div>
                            <div class="avertissement font-size3" id="alertEmail">
                                Veuillez entrer une adresse email valide.
                            </div>
                        </div>
                        <div class="mb-4 message contact-form-message">
                            <label for="message" class="form-label text-light font-size3 h-25">Message</label>
                            <textarea class="form-control h-75" id="message" name="message" maxlength="500" form="contactForm" rows="2" required></textarea>
                            <div class="avertissement font-size3" id="alertMessage">
                                Veuillez entrer un message valide.
                            </div>
                        </div>
                        <div class="d-flex justify-content-center contact-form-button">
                            <button type="submit" class="bouton btn text-light font-size3 rounded-corners d-flex justify-content-center align-items-center">
                               <span>Envoyer</span> 
                            </button>
                        </div>
                    </form>
                    <div>{{ messageResponse }}</div>
                </div>

                <div class="presentation d-flex flex-column justify-content-around align-items-center shadow p-3 mb-5 rounded-corners">
                    <img class= "photo rounded-circle" src="img/photo.jpeg" alt="photo Christophe Martel">
                    <p class="text-light font-size3">Christophe Martel</p>
                    <p class="text-light font-size3">Développeur Web</p>
                    <p class="text-light font-size3"><a href="img/CV.pdf" target="_blank">CV</a></p>
                    <div class="d-flex">
                        <img class="socials me-4" src="img/twitter.png" alt="Twitter icon">
                        <img class="socials me-4" src="img/facebook.png" alt="Facebook icon">
                        <img class="socials" src="img/linkedin.png" alt="Linkedin icon">
                    </div>
                </div>
            </div>
        </section>
    </body>
    <footer>
        <div class="mt-5 d-flex justify-content-between h-100">
            <div class="text-light font-size4 d-flex align-items-center ms-4">
                <p>Powered by @Devcm</p>
            </div>
            <div class="text-light font-size4 d-flex align-items-center me-4">
                <p class="me-4">Mentions légales</p>
                <p>Administration</p>
            </div>
        </div>
        <script src="src/Js/Form_validation.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </footer>
</html>
