<!DOCTYPE html>
<html lang="fr">
    <head>
    <title>Christophe's Blog</title>
    <link rel="icon" type="image/x-icon" href="img/app_icon.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <header>
            <div class="hero">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="container-fluid">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-start" id="navbarNav">
                            <ul class="navbar-nav me-auto">
                                <li class="nav-item">
                                    <a class="nav-link active text-light font-size1" aria-current="page" href="index.php">Accueil</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light font-size1" href="#">Blog</a>
                                </li>
                                {% if activeUser != "" %}
                                    {% if userFunction == "Createur" or userFunction == "Administrateur" %}
                                        <li class="nav-item">
                                            <a class="nav-link text-light font-size1" href="index.php?action=AdminPostList&pageNumber=1">Posts</a>
                                        </li>
                                    {% endif %}
                                    {% if userFunction == "Administrateur"%}
                                        <li class="nav-item">
                                            <a class="nav-link text-light font-size1" href="index.php?action=AdminUserList&pageNumber=1">Utilisateurs</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-light font-size1" href="index.php?action=AdminCommentList&pageNumber=1">Commentaires</a>
                                        </li>
                                    {% endif %}
                                {% else %}
                                    <li class="nav-item">
                                        <a class="nav-link text-light font-size1" href="index.php?action=connexion">Connexion</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-light font-size1" href="index.php?action=subscription">Inscription</a>
                                    </li>
                                {% endif %}
                            </ul>
                            {% if activeUser != "" %}
                                <div class="text-light fst-italic font-size3 me-3" id="pseudo">Bienvenue {{ activeUser }}</div>
                                <a href="">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                                    </svg>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </nav>
                <p class="page-title font-size2 text-light text-center">
                    {% block title %}{% endblock %}
                </p>
            </div>
        </header>
        {% block body %}{% endblock %}
    </body>
    <footer>
        <div class="mt-5 d-flex justify-content-between h-100">
            <div class="text-light font-size4 d-flex align-items-center ms-4">
                <p>Powered by @Devcm</p>
            </div>
            <div class="text-light font-size4 d-flex align-items-center me-4">
                <p class="me-4">Mentions légales</p>
                <a class="text-light" href="index.php?action=AdminPostList&pageNumber=1">Administration</a>
            </div>
        </div>
        <script src="src/Js/Functions.js"></script>
        <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </footer>
    </html>
