{% extends 'layout.twig' %}

{% block body %}
    <section>
        <div class="body-container d-flex justify-content-center align-items-center">
            <div class="text-danger">{{ errorMessage }}</div>
        </div>
    </section>
{% endblock %}