{% extends 'layout.twig' %}

{% block body %}
    <section>
        <div class="body-container d-flex justify-content-center align-items-center">          
            <p class="fs-2">Votre compte utilisateur a bien été créé !</p>
        </div>
    </section>
{% endblock %}