{% extends 'Layout/layout.html.twig' %}

{% block body %}
    <section class="vh-60">
        <div class="post-background-color m-4 shadow rounded">
            <div class="d-flex vh-40">
                <div class="w-25">
                    <img class="w-100 rounded" src="{{ post.imagePath }}" alt="Image du post">
                </div>
                <div class="d-flex flex-column w-100">
                    <div class="fs-5 text-white text-center my-3 p-3">{{ post.title }}</div>
                    <div class="text-white p-3">{{ post.summary }}</div>
                </div>
            </div>
            <div class="w-100 text-white p-4">
                {{ post.content }}
            </div>
        </div>
    </section>
{% endblock %}