<!-- Confirmation modal  -->
<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalLabel">{{ confirmationModaltitle }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Oui"></button>
            </div>
            <div class="modal-body" id="confirmationMessage">
                {{ confirmationModalMessage }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Non</button>
                <a class="btn btn-primary" id="btnConfirmationModal" href="{{ confirmationModalController }}">Oui</a>
            </div>
        </div>
    </div>
</div>
<!-- End confirmation modal  -->