{% extends 'Layout/Layout.html.twig' %}

{% block body %}
    <section class="page-content container-fluid">
        {% block commentReturn %}{% endblock %}
        <div class="row">
            <div class="col-lg-3 col-sm-1"></div>
            <form method="post" class="col-lg-6 col-sm-11 m-4 p-3 shadow rounded" action={% block commentFormAction %}{% endblock %} id="formComment">
                <div class="d-flex">
                    <input type="hidden" name="postId" value="{{ post.getId() }}">
                    <input type="hidden" name="commentId" value="{{ comment.getId() }}">
                    <div class="d-flex flex-column w-100">
                        <div>
                            <label class="form-label fs-6" for="comment">Commentaire :</label>
                            <textarea class="form-control" name="comment" id="comment" rows="10">{{ comment.getComment() }}</textarea>
                            <div class="text-danger">{{ warningComment }}</div>
                        </div>
                        {% block commentValidation %}{% endblock %}
                    </div>           
                </div>
                <div class="row">
                    <div class="col-12 d-flex justify-content-end mt-3">
                        <button type="submit" class="btn button text-light fs-6">Enregistrer</button>
                    </div>
                </div>
            </form>
            <div class="col-lg-3 col-sm-1"></div>
        </div>
    </section>
{% endblock %}