<html>
    <div>Bonjour,</div>
    <br>
    <div>Vous avez effectué une demande de renouvellement de mot de passe sur notre site blog.devcm.fr</div>
    <br>
    <div>Pour cela veuillez cliquer sur le lien ci-dessous, ce dernier est valable 24 heures.</div>
    <br>
    <a href='{{ domaine }}index.php?action=Password\PasswordRenewalSubscription&email={{ emailAdress }}&token={{ token }}'>Cliquez ici pour modifier votre mot de passe</a>
    <br>
    <div>Cordialement</div>
    <br>
    <div>Le service support</div>
</html>